@model Latest_News.ViewModel.HomeViewModel
    <main>
        <!-- Trending Area Start -->
        <div class="trending-area fix pt-25 gray-bg">
            <div class="container">
                <div class="trending-main">
                    <div class="row">
                        <div class="col-lg-8">
                            <!-- Trending Top -->
                            <div class="slider-active">
                             @foreach (var item in Model.GetPubliciters)
                             {
                                <div class="single-slider">
                                    <div class="trending-top mb-30">
                                        <div class="trend-top-img">
                                            <img src="~/Image_Pub/@item.img" alt="">
                                            <div class="trend-top-cap">
                                                <span class="bgr" data-animation="fadeInUp" data-delay=".2s" data-duration="1000ms">Business</span>
                                                <h2><a href="latest_news.html" data-animation="fadeInUp" data-delay=".4s" data-duration="1000ms">@item.Titre</a></h2>
                                                <p data-animation="fadeInUp" data-delay=".6s" data-duration="1000ms">by @item.Name_Company   -   @item.date_Publiciter.ToLongDateString()</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             }
                            </div>
                        </div>
                        <!-- Right content -->
                        <div class="col-lg-4">
                            <!-- Trending Top -->
                            <div class="row">
                                <div class="col-lg-12 col-md-6 col-sm-6">
                                    <div class="trending-top mb-30">
                                        <div class="trend-top-img">
                                            <img src="~/assets/img/trending/trending_top3.jpg" alt="">
                                            <div class="trend-top-cap trend-top-cap2">
                                                <span class="bgb">FASHION</span>
                                                <h2>
                                                    <a href="latest_news.html">
                                                        Secretart for Economic Air
                                                        plane that looks like
                                                    </a>
                                                </h2>
                                                <p>by Alice cloe   -   Jun 19, 2020</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6 col-sm-6">
                                    <div class="trending-top mb-30">
                                        <div class="trend-top-img">
                                            <img src="~/assets/img/trending/trending_top4.jpg" alt="">
                                            <div class="trend-top-cap trend-top-cap2">
                                                <span class="bgg">TECH </span>
                                                <h2><a href="latest_news.html">Secretart for Economic Air plane that looks like</a></h2>
                                                <p>by Alice cloe   -   Jun 19, 2020</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Trending Area End -->
        <!-- Whats New Start -->
        <section class="whats-news-area pt-50 pb-20 gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="whats-news-wrapper">
                            <!-- Heading & Nav Button -->
                            <div class="row justify-content-between align-items-end mb-15">
                                <div class="col-xl-4">
                                    <div class="section-tittle mb-30">
                                        <h3>Whats New</h3>
                                    </div>
                                </div>
                                <div class="col-xl-8 col-md-9">
                                    <div class="properties__button">
                                        <!--Nav Button  -->
                                        <nav>
                                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">All</a>
                                                @foreach (var item in Model.GetCategories)
                                                {
                                                    <a class="nav-item nav-link" id="@item.cat_Nom-tab" data-toggle="tab" href="#nav-@item.cat_Nom" role="tab" aria-controls="@item.cat_Nom" aria-selected="false">@item.cat_Nom</a>
                                                }
                                            </div>
                                        </nav>
                                        <!--End Nav Button  -->
                                    </div>
                                </div>
                            </div>
                            <!-- Tab content -->
                            <div class="row">
                                <div class="col-12">
                                    <!-- Nav Card -->
                                    <div class="tab-content" id="nav-tabContent">
                                        <!-- card one -->
                                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                            <div class="row">
                                                @{
                                                    var db_News = ViewBag.News as Latest_News.Models.Latest_News;

                                                }
                                                <!-- Left Details Caption -->
                                                <div class="col-xl-6 col-lg-12">
                                                    <div class="whats-news-single mb-40 mb-40">
                                                        <div class="whates-img">
                                                            <img src="~/Image_News/@db_News.Image" style="width:360px;height:245px;" alt="">
                                                        </div>
                                                        <div class="whates-caption">
                                                            <h4><a href="/Home/Details_Blog/@db_News.id">@db_News.Titre</a></h4>
                                                            <span>by Admin   -   @db_News.date_Publiciter.ToLongDateString()</span>
                                                            <p>@db_News.Description.Substring(0,150).</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Right single caption -->
                                                <div class="col-xl-6 col-lg-12">
                                                    <div class="row">
                                                        <!-- single -->
                                                        @foreach (var item in Model.GetLatest_News)
                                                        {
                                                        <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                                            <div class="whats-right-single mb-20">
                                                                <div class="whats-right-img">
                                                                    <img src="~/Image_News/@item.Image" style="width:124px;height:104px" alt="">
                                                                </div>
                                                                <div class="whats-right-cap">
                                                                    <span class="colorb">FASHION</span>
                                                                    <h4><a href="/Home/Details_Blog/@item.id">@item.Titre</a></h4>
                                                                    <p>@item.date_Publiciter.ToShortDateString()</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       @foreach (var item in Model.GetCategories)
                                       {
                                        <div class="tab-pane fade" id="nav-@item.cat_Nom" role="tabpanel" aria-labelledby="nav-@item.cat_Nom">
                                            <div class="row">
                                                @{
                                                    var dt_Publ = item.News.Max(n => n.date_Publiciter);
                                                    var max = item.News.Where(n => n.date_Publiciter == dt_Publ).Single();
                                                  
                                                }
                                                <!-- Left Details Caption -->
                                                <div class="col-xl-6 col-lg-12">
                                                    <div class="whats-news-single mb-40 mb-40">
                                                        <div class="whates-img">
                                                            <img src="~/Image_News/@max.Image" style="width:360px;height:245px;" alt="">
                                                        </div>
                                                        <div class="whates-caption">
                                                            <h4><a href="/Home/Details_Blog/@max.id">@max.Titre</a></h4>
                                                            <span>by Admin   -   @max.date_Publiciter.ToLongDateString()</span>
                                                            <p>@max.Description.Substring(0, 150).</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Right single caption -->
                                                <div class="col-xl-6 col-lg-12">
                                                    <div class="row">
                                                        <!-- single -->
                                                        @foreach (var item1 in item.News.Where(n =>n.date_Publiciter!=dt_Publ))
                                                        {
                                                            <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                                                <div class="whats-right-single mb-20">
                                                                    <div class="whats-right-img">
                                                                        <img src="~/Image_News/@item1.Image" style="width:124px;height:104px" alt="">
                                                                    </div>
                                                                    <div class="whats-right-cap">
                                                                        <span class="color-3">FASHION</span>
                                                                        <h4><a href="/Home/Details_Blog/@item1.id">@item1.Titre</a></h4>
                                                                        <p>@item1.date_Publiciter.ToShortDateString()</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       }
                                    </div>
                                    <!-- End Nav Card -->
                                </div>
                            </div>
                        </div>
                        <!-- Banner -->
                        <div class="banner-one mt-20 mb-30">
                            <img src="~/assets/img/gallery/body_card1.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <!-- Flow Socail -->
                        <div class="single-follow mb-45">
                            <div class="single-box">
                                <div class="follow-us d-flex align-items-center">
                                    <div class="follow-social">
                                        <a href="#"><img src="~/assets/img/news/icon-fb.png" alt=""></a>
                                    </div>
                                    <div class="follow-count">
                                        <span>8,045</span>
                                        <p>Fans</p>
                                    </div>
                                </div>
                                <div class="follow-us d-flex align-items-center">
                                    <div class="follow-social">
                                        <a href="#"><img src="~/assets/img/news/icon-tw.png" alt=""></a>
                                    </div>
                                    <div class="follow-count">
                                        <span>8,045</span>
                                        <p>Fans</p>
                                    </div>
                                </div>
                                <div class="follow-us d-flex align-items-center">
                                    <div class="follow-social">
                                        <a href="#"><img src="~/assets/img/news/icon-ins.png" alt=""></a>
                                    </div>
                                    <div class="follow-count">
                                        <span>8,045</span>
                                        <p>Fans</p>
                                    </div>
                                </div>
                                <div class="follow-us d-flex align-items-center">
                                    <div class="follow-social">
                                        <a href="#"><img src="~/assets/img/news/icon-yo.png" alt=""></a>
                                    </div>
                                    <div class="follow-count">
                                        <span>8,045</span>
                                        <p>Fans</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Most Recent Area -->
                        <div class="most-recent-area">
                            <!-- Section Tittle -->
                            <div class="small-tittle mb-20">
                                <h4>Most Recent</h4>
                            </div>
                            <!-- Details -->
                            <div class="most-recent mb-40">
                                <div class="most-recent-img">
                                    <img src="~/Image_News/@db_News.Image" alt="">
                                    <div class="most-recent-cap">
                                        <span class="bgbeg">Vogue</span>
                                        <h4>
                                            <a href="/Home/Details_Blog/@db_News.id">
                                               @db_News.Titre
                                            </a>
                                        </h4>
                                        <p>Admin  |  @db_News.date_Publiciter.ToLongDateString()</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single -->
                            @foreach (var item in Model.GetLatest_News)
                            {
                            <div class="most-recent-single">
                                <div class="most-recent-images">
                                    <img src="~/Image_News/@item.Image"  style="width:85px;height:79px;" alt="">
                                </div>
                                <div class="most-recent-capt">
                                    <h4><a href="/Home/Details_Blog/@item.id">@item.Titre</a></h4>
                                    <p>Admin  |  @item.date_Publiciter.ToLongDateString()</p>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Whats New End -->
        <!--   Weekly2-News start -->
        <div class="weekly2-news-area pt-50 pb-30 gray-bg">
            <div class="container">
                <div class="weekly2-wrapper">
                    <div class="row">
                        <!-- Banner -->
                        <div class="col-lg-3">
                            <div class="home-banner2 d-none d-lg-block">
                                <img src="~/assets/img/gallery/body_card2.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="slider-wrapper">
                                <!-- section Tittle -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="small-tittle mb-30">
                                            <h4>Most Popular</h4>
                                        </div>
                                    </div>
                                </div>
                                <!-- Slider -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="weekly2-news-active d-flex">
                                            @foreach (var item in Model.GetLatest_News)
                                            {
                                                <div class="weekly2-single">
                                                    <div class="weekly2-img">
                                                        <img src="~/Image_News/@item.Image" style="width:235px;height:155px;" alt="">
                                                    </div>
                                                    <div class="weekly2-caption">
                                                        <h4>
                                                            <a href="#">
                                                                @item.Titre
                                                            </a>
                                                        </h4>
                                                        <p>Admin  |  @item.date_Publiciter.ToLongDateString()</p>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Weekly-News -->
    
        <!--Recent Articles End -->
        <!-- Start Video Area -->
        <div class="youtube-area video-padding d-none d-sm-block">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="video-items-active">
                            <div class="video-items text-center">
                                <video controls>
                                    <source src="~/assets/video/news2.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <div class="video-items text-center">
                                <video controls>
                                    <source src="~/assets/video/news1.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <div class="video-items text-center">
                                <video controls>
                                    <source src="~/assets/video/news3.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <div class="video-items text-center">
                                <video controls>
                                    <source src="~/assets/video/news1.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <div class="video-items text-center">
                                <video controls>
                                    <source src="~/assets/video/news3.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="video-info">
                    <div class="row">
                        <div class="col-12">
                            <div class="testmonial-nav text-center">
                                @foreach (var item in Model.GetVideo_News)
                                {
                                <div class="single-video">
                                    <video controls>
                                        <source src="~/Video_News/@item.Vid" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                    <div class="video-intro">
                                        <h4>@item.titre - @item.date_Pub.Year </h4>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Start Video area-->
        <!--   Weekly3-News start -->
     
        <!-- End Weekly-News -->
        <!-- banner-last Start -->
        <div class="banner-area gray-bg pt-90 pb-90">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-md-10">
                        <div class="banner-one">
                            <img src="~/assets/img/gallery/body_card3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- banner-last End -->
    </main>
 

  